Repository damminhtien/pathplanning: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format --check --diff --config pyproject.toml
        language: system
        types: [python]
        files: ^(pathplanning/(core|env)/.*\.py|pathplanning/(__init__|api|registry)\.py|tests/.*\.py|scripts/.*\.py|examples/worlds/.*\.py)$
      - id: ruff-check
        name: ruff check
        entry: ruff check --config pyproject.toml
        language: system
        types: [python]
        files: ^(pathplanning/(core|env)/.*\.py|pathplanning/(__init__|api|registry)\.py|tests/.*\.py|scripts/.*\.py|examples/worlds/.*\.py)$
      - id: pyright
        name: pyright
        entry: pyright --project pyrightconfig.json
        language: system
        types: [python]
        files: ^pathplanning/.*\.py$

chore(typing): fix strict-zone pyright errors; add CI gate
  .github/workflows/pylint.yml
  pathplanning/core/nn_index.py
  pyrightconfig.json
Due: ruff-format, ruff-check, pyright

chore(packaging): add py.typed marker for PEP 561 typed package
  pathplanning/py.typed
  pyproject.toml
  tests/test_packaging_py_typed.py
Due: ruff-format, ruff-check

refactor: remove legacy compatibility paths from registry and facade
  README.md
  SUPPORTED_ALGORITHMS.md
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/registry.py
  pathplanning/search_based_planning/plan2d/plan2d_facade.py
  pathplanning/search_based_planning/plan2d/run.py
  pyproject.toml
  tests/test_package_api.py
Due: ruff-format, ruff-check, pyright

docs(readme): expand mission statement with library-first and reproducibility focus
  README.md
Due: none

refactor: scaffold package layers and relocate core NN/tree
  examples/bench/nn_index_bench.py
  pathplanning/__init__.py
  pathplanning/bench/__init__.py
  pathplanning/collision/__init__.py
  pathplanning/core/__init__.py
  pathplanning/data_structures/__init__.py
  pathplanning/data_structures/tree_array.py
  pathplanning/geometry/__init__.py
  pathplanning/nn/__init__.py
  pathplanning/nn/index.py
  pathplanning/planners/__init__.py
  pathplanning/planners/sampling/__init__.py
  pathplanning/planners/search/__init__.py
  pathplanning/sampling_based_planning/rrt_3d/rrt.py
  pathplanning/sampling_based_planning/rrt_3d/rrt_star.py
Due: ruff-format, ruff-check, pyright

docs: record baseline run and duplication hotspots
  docs/refactor_baseline_run.md
Due: none

test(search): update smoke imports to planners namespace
  tests/test_imports_smoke.py
  tests/test_runtime_representative_smoke.py
Due: ruff-format, ruff-check

chore(sampling): update registry, bench, and typecheck paths
  pathplanning/registry.py
  pyproject.toml
  pyrightconfig.json
  scripts/benchmark_planners.py
Due: ruff-format, ruff-check, pyright

test(sampling): migrate imports to planners and shared utils
  tests/test_imports_smoke.py
  tests/test_rng_enforcement.py
  tests/test_rrt3d_planner_contract.py
  tests/test_rrt_goal_connection.py
  tests/test_rrt_star_3d_starttime.py
  tests/test_rrt_time_budget.py
  tests/test_rrtstar3d_planner_contract.py
  tests/test_runtime_representative_smoke.py
  tests/test_sampling3d_dynamic_rrt_contract.py
  tests/test_utils_3d_path_default.py
  tests/test_utils_3d_sample_free.py
Due: ruff-format, ruff-check

refactor(geometry): migrate curve modules and plotting helper
  pathplanning/curves/__init__.py
  pathplanning/geometry/__init__.py
  pathplanning/geometry/bezier_path.py
  pathplanning/geometry/bspline_curve.py
  pathplanning/geometry/cubic_spline.py
  pathplanning/geometry/dubins_path.py
  pathplanning/geometry/quartic_polynomial.py
  pathplanning/geometry/quintic_polynomial.py
  pathplanning/geometry/reeds_shepp.py
  pathplanning/viz/geometry_draw.py
Due: pyright

test(imports): switch smoke check to pathplanning.geometry
  tests/test_imports_smoke.py
Due: ruff-format, ruff-check

chore(packaging): move gif assets out of runtime package
  MANIFEST.in
  assets/gif/sampling/BIT.gif
  assets/gif/sampling/BIT2.gif
  assets/gif/sampling/Dynamic_RRT_2D.gif
  assets/gif/sampling/Extended_RRT_2D.gif
  assets/gif/sampling/FMT.gif
  assets/gif/sampling/Goal_biasd_RRT_2D.gif
  assets/gif/sampling/INFORMED_RRT_STAR_2D.gif
  assets/gif/sampling/INFORMED_RRT_STAR_2D2.gif
  assets/gif/sampling/INFORMED_RRT_STAR_2D3.gif
  assets/gif/sampling/RRT_2D.gif
  assets/gif/sampling/RRT_CONNECT_2D.gif
  assets/gif/sampling/RRT_STAR2_2D.gif
  assets/gif/sampling/RRT_STAR_2D.gif
  assets/gif/sampling/RRT_STAR_SMART_2D.gif
  assets/gif/search/ADstar_sig.gif
  assets/gif/search/ADstar_small.gif
  assets/gif/search/ARA_star.gif
  assets/gif/search/Astar.gif
  assets/gif/search/BF.gif
  assets/gif/search/BFS.gif
  assets/gif/search/Bi-Astar.gif
  assets/gif/search/DFS.gif
  assets/gif/search/D_star.gif
  assets/gif/search/D_star_Lite.gif
  assets/gif/search/Dijkstra.gif
  assets/gif/search/LPA_star.gif
  assets/gif/search/LPAstar.gif
  assets/gif/search/LRTA_star.gif
  assets/gif/search/RTAA_star.gif
  assets/gif/search/RepeatedA_star.gif
  pyproject.toml
Due: none

refactor(api): shrink package surface and enforce registry entrypoints
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/registry.py
  scripts/benchmark_planners.py
  tests/test_package_api.py
  tests/test_search2d_smoke.py
Due: ruff-format, ruff-check, pyright

docs(registry): add module entrypoint column for supported algorithms
  SUPPORTED_ALGORITHMS.md
Due: none

docs(readme): update module layout, examples, and asset paths
  README.md
Due: none

chore: refresh root docs and align local/CI quality gates
  .github/workflows/pylint.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CODING_CONVENTIONS.md
  CONTRIBUTING.md
  README.md
  agent.md
  decisions.md
  handoff.md
  pathplanning/api.py
  pathplanning/registry.py
  pathplanning/spaces/grid2d.py
  pyproject.toml
  pyrightconfig.json
  state.md
  tasks.md
Due: ruff-format, ruff-check, pyright

refactor: standardize planner naming and normalize algorithm modules
  pathplanning/geometry/cubic_spline.py
  pathplanning/geometry/dubins_path.py
  pathplanning/geometry/reeds_shepp.py
  pathplanning/planners/sampling/abit_star.py
  pathplanning/planners/sampling/bit_star.py
  pathplanning/planners/sampling/dynamic_rrt.py
  pathplanning/planners/sampling/rrt_grid2d.py
  pathplanning/planners/search/anytime_dstar.py
  pathplanning/planners/search/anytime_dstar_3d.py
  pathplanning/planners/search/astar_3d.py
  pathplanning/planners/search/bidirectional_astar_3d.py
  pathplanning/planners/search/dstar.py
  pathplanning/planners/search/dstar_3d.py
  pathplanning/planners/search/dstar_lite.py
  pathplanning/planners/search/dstar_lite_3d.py
  pathplanning/planners/search/lifelong_planning_astar.py
  pathplanning/planners/search/lp_astar_3d.py
  pathplanning/planners/search/lrt_astar_3d.py
  pathplanning/planners/search/plan2d_facade.py
  pathplanning/planners/search/plot_util_3d.py
  pathplanning/planners/search/rta_astar_3d.py
  pathplanning/planners/search/utils_3d.py
  pathplanning/viz/geometry_draw.py
  pathplanning/viz/sampling2d_plotting.py
  pathplanning/viz/search2d_plotting.py
Due: pyright

refactor(search2d): redesign 2d search as contract-first module
  pathplanning/search2d.py
Due: pyright

test(search2d): update smoke coverage for new planner enum and config
  tests/test_search2d_smoke.py
Due: ruff-format, ruff-check

feat(core): add discrete/continuous contracts and typed reference spaces
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/types.py
  pathplanning/spaces/__init__.py
  pathplanning/spaces/continuous_3d.py
  pathplanning/spaces/grid2d.py
  tests/test_core_contracts_and_params.py
Due: ruff-format, ruff-check, pyright

feat(api): add problem-oriented planner registry and entrypoints
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/planners/sampling/entrypoints.py
  pathplanning/planners/search/entrypoints.py
  pathplanning/registry.py
  tests/test_package_api.py
Due: ruff-format, ruff-check, pyright

refactor(sampling): migrate planners to ContinuousSpace and GoalRegion contracts
  pathplanning/planners/sampling/abit_star.py
  pathplanning/planners/sampling/bit_star.py
  pathplanning/planners/sampling/dynamic_rrt.py
  pathplanning/planners/sampling/fmt_star.py
  pathplanning/planners/sampling/informed_rrt_star.py
  pathplanning/planners/sampling/rrt.py
  pathplanning/planners/sampling/rrt_connect.py
  pathplanning/planners/sampling/rrt_grid2d.py
  pathplanning/planners/sampling/rrt_star.py
  tests/test_rng_enforcement.py
  tests/test_rrt3d_planner_contract.py
  tests/test_rrt_goal_connection.py
  tests/test_rrt_star_3d_starttime.py
  tests/test_rrt_time_budget.py
  tests/test_rrtstar3d_planner_contract.py
  tests/test_runtime_representative_smoke.py
Due: ruff-format, ruff-check, pyright

refactor(search): route 2d planners through contract-based facade
  pathplanning/planners/search/_legacy2d_common.py
  pathplanning/planners/search/anytime_dstar.py
  pathplanning/planners/search/anytime_repairing_astar.py
  pathplanning/planners/search/astar.py
  pathplanning/planners/search/best_first_search.py
  pathplanning/planners/search/bidirectional_astar.py
  pathplanning/planners/search/breadth_first_search.py
  pathplanning/planners/search/depth_first_search.py
  pathplanning/planners/search/dijkstra.py
  pathplanning/planners/search/dstar.py
  pathplanning/planners/search/dstar_lite.py
  pathplanning/planners/search/learning_realtime_astar.py
  pathplanning/planners/search/lifelong_planning_astar.py
  pathplanning/planners/search/plan2d_facade.py
  pathplanning/planners/search/realtime_adaptive_astar.py
  pathplanning/planners/search/run.py
  scripts/benchmark_planners.py
  tests/test_import_safety.py
Due: ruff-format, ruff-check, pyright

docs(architecture): document contract-first environment design
  docs/environment_architecture.md
Due: none

docs(examples): add user-defined discrete and continuous space examples
  examples/worlds/custom_grid_world.py
  examples/worlds/demo_3d_world.py
Due: ruff-format, ruff-check

ci: fix ruff ordering and formatting
  examples/worlds/custom_grid_world.py
  pathplanning/planners/sampling/rrt.py
  pathplanning/planners/sampling/rrt_star.py
  pathplanning/planners/search/_internal/common.py
  pathplanning/planners/search/bidirectional_astar.py
  pathplanning/spaces/grid2d.py
  pathplanning/spaces/grid3d.py
  tests/test_architecture_guards.py
  tests/test_architecture_invariants.py
  tests/test_core_contracts_and_params.py
  tests/test_import_safety.py
  tests/test_registry_integrity.py
Due: ruff-format, ruff-check, pyright

refactor(search): path planning algorithms to utilize native C++ engine
  .github/workflows/pylint.yml
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
  MANIFEST.in
  Makefile
  README.md
  pathplanning/native/__init__.py
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/search/_internal/common.py
  pathplanning/planners/search/_internal/native.py
  pathplanning/planners/search/anytime_astar.py
  pathplanning/planners/search/bidirectional_astar.py
  pathplanning/planners/search/breadth_first_search.py
  pathplanning/planners/search/depth_first_search.py
  pathplanning/planners/search/greedy_best_first.py
  pyproject.toml
  setup.py
  tests/test_packaging_py_typed.py
  tests/test_rrtstar3d_planner_contract.py
  tests/test_supported_modules_import.py
Due: ruff-format, ruff-check, pyright

Move discrete search to native CSR graphs
  CHANGELOG.md
  README.md
  handoff.md
  pathplanning/core/contracts.py
  pathplanning/native/__init__.py
  pathplanning/native/_ffi.py
  pathplanning/native/graph.py
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/search/_internal/native.py
  pathplanning/spaces/grid2d.py
  pathplanning/spaces/grid3d.py
  pyproject.toml
  requirements.txt
  scripts/benchmark_planners.py
  tests/test_native_graph_search.py
Due: ruff-format, ruff-check, pyright

Optimize native graph search memory
  pathplanning/native/_ffi.py
  pathplanning/native/graph.py
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/search/_internal/native.py
  pathplanning/spaces/grid2d.py
  pathplanning/spaces/grid3d.py
  tests/test_native_graph_search.py
Due: ruff-format, ruff-check, pyright

Fix planner objective and problem params
  pathplanning/api.py
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/planners/sampling/_internal/problem_adapter.py
  pathplanning/planners/sampling/abit_star.py
  pathplanning/planners/sampling/bit_star.py
  pathplanning/planners/sampling/informed_rrt_star.py
  pathplanning/planners/sampling/rrt.py
  pathplanning/planners/sampling/rrt_star.py
  pathplanning/spaces/continuous_3d.py
  pathplanning/spaces/grid2d.py
  tests/test_problem_configuration_regressions.py
Due: ruff-format, ruff-check, pyright

perf: compact native search parent state
  pathplanning/native/search_engine.cpp
Due: none

fix: align planner registry names with implementations
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/environment_architecture.md
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/sampling/abit_star.py
  pathplanning/planners/sampling/bit_star.py
  pathplanning/planners/sampling/fmt_star.py
  pathplanning/planners/sampling/informed_rrt_star.py
  pathplanning/planners/sampling/rrt_connect.py
  pathplanning/planners/search/_internal/native.py
  pathplanning/planners/search/bidirectional_astar.py
  pathplanning/planners/search/bidirectional_dijkstra.py
  pathplanning/registry.py
  pathplanning/viz/search2d_plotting.py
  tests/test_architecture_guards.py
  tests/test_native_graph_search.py
  tests/test_package_api.py
  tests/test_problem_configuration_regressions.py
Due: ruff-format, ruff-check, pyright

Add advanced sampling and bidirectional A-star planners
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/environment_architecture.md
  pathplanning/core/contracts.py
  pathplanning/core/params.py
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/nn/__init__.py
  pathplanning/nn/index.py
  pathplanning/planners/sampling/_internal/bit_engine.py
  pathplanning/planners/sampling/_internal/continuous.py
  pathplanning/planners/sampling/abit_star.py
  pathplanning/planners/sampling/bit_star.py
  pathplanning/planners/sampling/fmt_star.py
  pathplanning/planners/sampling/informed_rrt_star.py
  pathplanning/planners/sampling/rrt_connect.py
  pathplanning/planners/sampling/rrt_star.py
  pathplanning/planners/search/_internal/native.py
  pathplanning/planners/search/bidirectional_astar.py
  pathplanning/registry.py
  tests/test_advanced_sampling_planners.py
  tests/test_architecture_guards.py
  tests/test_native_graph_search.py
  tests/test_package_api.py
Due: ruff-format, ruff-check, pyright

Move continuous planner cores to native C
  MANIFEST.in
  README.md
  docs/environment_architecture.md
  docs/rrt3d_refactor.md
  pathplanning/native/_ffi.py
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/_internal/bit_engine.py
  pathplanning/planners/sampling/_internal/continuous.py
  pathplanning/planners/sampling/abit_star.py
  pathplanning/planners/sampling/dynamic_rrt.py
  pathplanning/planners/sampling/fmt_star.py
  pathplanning/planners/sampling/informed_rrt_star.py
  pathplanning/planners/sampling/rrt.py
  pathplanning/planners/sampling/rrt_connect.py
  pathplanning/planners/sampling/rrt_star.py
  pathplanning/spaces/continuous_3d.py
  pathplanning/spaces/grid2d.py
  pathplanning/spaces/grid3d.py
  setup.py
Due: pyright

docs: sync native planning architecture
  CHANGELOG.md
  CODING_CONVENTIONS.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  SUPPORTED_ALGORITHMS.md
  agent.md
  decisions.md
  docs/environment_architecture.md
  docs/native_core.md
  docs/refactor_baseline.md
  docs/refactor_baseline_run.md
  docs/refactor_hotspots.md
  docs/refactor_phase_log.md
  docs/rrt3d_refactor.md
  docs/typing_policy.md
  handoff.md
  state.md
  tasks.md
Due: none

perf: remove Python callbacks from native sampling
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/benchmarks/native_sampling_2026-10-02.json
  docs/benchmarks/native_sampling_2026-10-02.md
  docs/environment_architecture.md
  docs/native_core.md
  pathplanning/core/params.py
  pathplanning/native/__init__.py
  pathplanning/native/continuous.py
  pathplanning/native/continuous_model.py
  pathplanning/planners/sampling/dynamic_rrt.py
  pyproject.toml
  requirements-dev.txt
  scripts/benchmark_native_sampling.py
  tasks.md
  tests/test_advanced_sampling_planners.py
  tests/test_native_continuous_model.py
  tests/test_problem_configuration_regressions.py
  tests/test_rrt_goal_connection.py
  tests/test_runtime_representative_smoke.py
  tests/test_sampling3d_dynamic_rrt_contract.py
Due: ruff-format, ruff-check, pyright
