Repository damminhtien/pathplanning: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format --check --diff --config pyproject.toml
        language: system
        types: [python]
        files: ^(pathplanning/(core|env)/.*\.py|pathplanning/(__init__|api|registry)\.py|tests/.*\.py|scripts/.*\.py|examples/worlds/.*\.py)$
      - id: ruff-check
        name: ruff check
        entry: ruff check --config pyproject.toml
        language: system
        types: [python]
        files: ^(pathplanning/(core|env)/.*\.py|pathplanning/(__init__|api|registry)\.py|tests/.*\.py|scripts/.*\.py|examples/worlds/.*\.py)$
      - id: pyright
        name: pyright
        entry: pyright --project pyrightconfig.json
        language: system
        types: [python]
        files: ^pathplanning/.*\.py$

refactor: centralize planner metadata
  SUPPORTED_ALGORITHMS.md
  pathplanning/registry.py
  scripts/generate_supported_algorithms.py
  tests/test_registry_integrity.py
Due: ruff-format, ruff-check, pyright

docs: define native ABI ownership and errors
  README.md
  docs/native_abi.md
  docs/native_core.md
  pathplanning/native/__init__.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
Due: pyright

feat: standardize benchmark reports
  README.md
  docs/benchmark_contract.md
  docs/benchmarks/native_sampling_2026-10-02.md
  docs/native_core.md
  handoff.md
  scripts/benchmark_contract.py
  scripts/benchmark_native_sampling.py
  scripts/benchmark_planners.py
Due: ruff-format, ruff-check

docs: refresh visualization gallery images
  README.md
  assets/images/astar-2d.png
  assets/images/bidirectional-astar-2d.png
  assets/images/rrt-2d.png
  assets/images/rrt-connect-2d.png
  assets/images/rrt-connect-3d.png
  docs/visualization.md
  scripts/generate_visualization_assets.py
Due: ruff-format, ruff-check

docs: specify shortest-path evaluation protocol and implementation plan
  docs/shortest_path_evaluation_plan.md
Due: none

feat: add reproducible shortest-path evaluation v2
  .gitignore
  docs/native_abi.md
  docs/shortest_path_benchmark_contract.md
  docs/shortest_path_benchmark_reproduction.md
  docs/shortest_path_evaluation_plan.md
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/native/search_metrics.h
  scripts/benchmark_shortest_path.py
  scripts/shortest_path_benchmark/__init__.py
  scripts/shortest_path_benchmark/analysis.py
  scripts/shortest_path_benchmark/contract.py
  scripts/shortest_path_benchmark/profiles/pilot.json
  scripts/shortest_path_benchmark/profiles/scaling.json
  scripts/shortest_path_benchmark/reference.py
  scripts/shortest_path_benchmark/runner.py
  scripts/shortest_path_benchmark/scaling.py
  scripts/shortest_path_benchmark/workloads.py
  setup.py
  tests/test_movingai_workloads.py
  tests/test_native_metrics.py
  tests/test_shortest_path_benchmark_analysis.py
  tests/test_shortest_path_benchmark_contract.py
  tests/test_shortest_path_benchmark_runner.py
  tests/test_shortest_path_reference.py
  tests/test_shortest_path_scaling.py
Due: ruff-format, ruff-check, pyright

docs: add MovingAI scenario gallery
  README.md
  assets/images/movingai-dao-scenario.png
  assets/images/movingai-maze-scenario.png
  assets/images/movingai-room-scenario.png
  assets/images/movingai-sc1-scenario.png
  assets/images/movingai-street-scenario.png
  docs/shortest_path_benchmark_reproduction.md
  pyproject.toml
  scripts/generate_movingai_scenario_assets.py
Due: ruff-format, ruff-check

docs: translate shortest-path evaluation plan
  docs/shortest_path_evaluation_plan.md
Due: none

docs: add SciencePlots pilot figures to README
  README.md
  assets/images/movingai-pilot-latency.png
  assets/images/movingai-pilot-memory.png
  assets/images/movingai-pilot-work-quality.png
  docs/shortest_path_benchmark_reproduction.md
  scripts/generate_shortest_path_summary_assets.py
Due: ruff-format, ruff-check

feat: add ReExpAstar planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/native_abi.md
  docs/shortest_path_evaluation_plan.md
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/native/search_metrics.h
  pathplanning/planners/search/_internal/common.py
  pathplanning/planners/search/_internal/native.py
  pathplanning/planners/search/reexp_astar.py
  pathplanning/registry.py
  tests/test_native_metrics.py
  tests/test_reexp_astar.py
Due: ruff-format, ruff-check, pyright

feat: add native JPS grid planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/jps.md
  docs/native_abi.md
  docs/native_core.md
  examples/jps_grid.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/jps_grid.cpp
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/search/_grid_utils.py
  pathplanning/planners/search/jump_point.py
  pathplanning/registry.py
  setup.py
  tests/test_jps.py
Due: ruff-format, ruff-check, pyright

feat: add native JPSW terrain planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/jpsw.md
  docs/native_abi.md
  docs/native_core.md
  examples/jpsw_grid.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/jpsw_grid.cpp
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/search/jump_point_weighted.py
  pathplanning/registry.py
  pathplanning/spaces/__init__.py
  pathplanning/spaces/terrain_grid2d.py
  setup.py
  tests/test_jpsw.py
  tests/test_native_trace.py
Due: ruff-format, ruff-check, pyright

feat: add native Theta* grid planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/theta_star.md
  docs/native_abi.md
  docs/native_core.md
  examples/theta_star_grid.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/native/theta_star_grid.cpp
  pathplanning/planners/search/theta_star.py
  pathplanning/registry.py
  setup.py
  tests/test_theta_star.py
Due: ruff-format, ruff-check, pyright

feat: add native Lazy Theta* planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/lazy_theta_star.md
  docs/native_abi.md
  docs/native_core.md
  examples/lazy_theta_star_grid.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/native/theta_star_grid.cpp
  pathplanning/planners/search/lazy_theta_star.py
  pathplanning/planners/search/theta_star.py
  pathplanning/registry.py
  tests/test_lazy_theta_star.py
Due: ruff-format, ruff-check, pyright

feat: add native D* Lite planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/dstar_lite.md
  docs/native_abi.md
  docs/native_core.md
  examples/dstar_lite_grid.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/dstar_lite.cpp
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/search/dstar_lite.py
  pathplanning/registry.py
  setup.py
  tests/test_dstar_lite.py
Due: ruff-format, ruff-check, pyright

feat: add native SIPP temporal planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/sipp.md
  docs/native_abi.md
  docs/native_core.md
  examples/sipp_grid.py
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/results.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/native/temporal_search.cpp
  pathplanning/planners/temporal/__init__.py
  pathplanning/planners/temporal/sipp.py
  pathplanning/registry.py
  setup.py
  tests/test_registry_integrity.py
  tests/test_sipp.py
Due: ruff-format, ruff-check, pyright

feat: add focal bounded-suboptimal SIPP
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/bounded_suboptimal_sipp.md
  docs/native_abi.md
  docs/native_core.md
  examples/bounded_suboptimal_sipp.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/native/temporal_search.cpp
  pathplanning/planners/temporal/bounded_suboptimal_sipp.py
  pathplanning/planners/temporal/sipp.py
  pathplanning/registry.py
  tests/test_sipp.py
Due: ruff-format, ruff-check, pyright

feat: add native kinodynamic SIPP
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/kinodynamic_sipp.md
  docs/native_abi.md
  docs/native_core.md
  examples/kinodynamic_sipp.py
  pathplanning/core/contracts.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/native/temporal_search.cpp
  pathplanning/planners/temporal/kinodynamic_sipp.py
  pathplanning/planners/temporal/sipp.py
  pathplanning/registry.py
  tests/test_sipp.py
Due: ruff-format, ruff-check, pyright

feat: add native EECBS multi-agent planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/eecbs.md
  docs/native_abi.md
  docs/native_core.md
  examples/eecbs.py
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/results.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/mapf_search.cpp
  pathplanning/native/search_engine.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/multi_agent/__init__.py
  pathplanning/planners/multi_agent/_common.py
  pathplanning/planners/multi_agent/eecbs.py
  pathplanning/registry.py
  pathplanning/spaces/__init__.py
  pathplanning/spaces/grid2d.py
  setup.py
  tests/test_eecbs.py
  tests/test_registry_integrity.py
Due: ruff-format, ruff-check, pyright

feat: add native LaCAM* planner
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/lacam_star.md
  docs/native_abi.md
  examples/lacam_star.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/lacam_star_search.cpp
  pathplanning/native/search_engine.h
  pathplanning/planners/multi_agent/_common.py
  pathplanning/planners/multi_agent/lacam_star.py
  pathplanning/registry.py
  setup.py
  tests/test_lacam_star.py
Due: ruff-format, ruff-check, pyright

feat: add native PRM* roadmap
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/prm_star.md
  docs/native_abi.md
  examples/prm_star.py
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/core/__init__.py
  pathplanning/core/params.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/prm_star.py
  pathplanning/registry.py
  tests/test_prm_star.py
Due: ruff-format, ruff-check, pyright

feat: characterize benchmark datasets and audit sampling bias
  docs/benchmarks/dataset_characterization.md
  scripts/analyze_benchmark_datasets.py
  scripts/benchmark_datasets/__init__.py
  scripts/benchmark_datasets/catalog.py
  scripts/benchmark_datasets/profiles.py
  scripts/benchmark_datasets/report.py
  scripts/benchmark_datasets/runner.py
  tests/test_dataset_characterization.py
Due: ruff-format, ruff-check

feat: add native lazy PRM planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/lazy_prm.md
  docs/native_abi.md
  examples/lazy_prm.py
  pathplanning/api.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/prm_star.py
  pathplanning/registry.py
  tests/test_lazy_prm.py
Due: ruff-format, ruff-check, pyright

feat: add native AIT* planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/ait_star.md
  docs/native_abi.md
  examples/ait_star.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/ait_star.py
  pathplanning/registry.py
  tests/test_advanced_sampling_planners.py
  tests/test_ait_star.py
Due: ruff-format, ruff-check, pyright

feat: add native EIT* planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/eit_star.md
  docs/native_abi.md
  examples/eit_star.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/eit_star.py
  pathplanning/registry.py
  tests/test_advanced_sampling_planners.py
  tests/test_eit_star.py
Due: ruff-format, ruff-check, pyright

feat: add native EIRM* roadmap planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/eirm_star.md
  docs/native_abi.md
  examples/eirm_star.py
  pathplanning/api.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/eirm_star.py
  pathplanning/planners/sampling/prm_star.py
  pathplanning/registry.py
  tests/test_eirm_star.py
Due: ruff-format, ruff-check, pyright

feat: add native FCIT* planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/fcit_star.md
  docs/native_abi.md
  examples/fcit_star.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/_internal/bit_engine.py
  pathplanning/planners/sampling/fcit_star.py
  pathplanning/registry.py
  tests/test_advanced_sampling_planners.py
  tests/test_fcit_star.py
Due: ruff-format, ruff-check, pyright

feat: add native RIT* planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/rit_star.md
  docs/native_abi.md
  examples/rit_star.py
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/params.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/rit_star.py
  pathplanning/registry.py
  pathplanning/spaces/__init__.py
  pathplanning/spaces/anisotropic.py
  tests/test_advanced_sampling_planners.py
  tests/test_rit_star.py
Due: ruff-format, ruff-check, pyright

feat: add native JIT* planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/jit_star.md
  docs/native_abi.md
  examples/jit_star.py
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/params.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous.py
  pathplanning/native/continuous_engine.c
  pathplanning/native/continuous_engine.h
  pathplanning/planners/sampling/jit_star.py
  pathplanning/registry.py
  pathplanning/spaces/__init__.py
  pathplanning/spaces/planar_manipulator.py
  tests/test_advanced_sampling_planners.py
  tests/test_jit_star.py
  tests/test_native_trace.py
Due: ruff-format, ruff-check, pyright

feat: add benchmark dataset installer
  docs/benchmarks/dataset_installation.md
  docs/shortest_path_benchmark_reproduction.md
  scripts/benchmark_datasets/installer.py
  scripts/install_benchmark_datasets.py
  tests/test_dataset_installer.py
Due: ruff-format, ruff-check

feat: add native Hybrid A* planner
  MANIFEST.in
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/hybrid_astar.md
  docs/native_abi.md
  docs/native_core.md
  examples/hybrid_astar.py
  pathplanning/THIRD_PARTY_NOTICES.md
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/params.py
  pathplanning/core/results.py
  pathplanning/native/__init__.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous_model.py
  pathplanning/native/kinodynamic.py
  pathplanning/native/kinodynamic_search.cpp
  pathplanning/native/kinodynamic_search.h
  pathplanning/native/reeds_shepp.cpp
  pathplanning/native/reeds_shepp.hpp
  pathplanning/planners/kinodynamic/__init__.py
  pathplanning/planners/kinodynamic/hybrid_astar.py
  pathplanning/registry.py
  pathplanning/spaces/__init__.py
  pathplanning/spaces/ackermann_grid.py
  pyproject.toml
  setup.py
  tests/test_hybrid_astar.py
Due: ruff-format, ruff-check, pyright

feat: add native State Lattice planner
  README.md
  SUPPORTED_ALGORITHMS.md
  docs/algorithms/state_lattice.md
  docs/native_abi.md
  docs/native_core.md
  examples/state_lattice.py
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/params.py
  pathplanning/native/__init__.py
  pathplanning/native/_ffi.py
  pathplanning/native/abi_version.h
  pathplanning/native/continuous_model.py
  pathplanning/native/kinodynamic_search.cpp
  pathplanning/native/kinodynamic_search.h
  pathplanning/native/state_lattice.py
  pathplanning/planners/kinodynamic/__init__.py
  pathplanning/planners/kinodynamic/state_lattice.py
  pathplanning/registry.py
  pathplanning/spaces/__init__.py
  pathplanning/spaces/state_lattice.py
  tests/test_state_lattice.py
Due: ruff-format, ruff-check, pyright

perf: vectorize JPS occupancy snapshots
  pathplanning/planners/search/_grid_utils.py
  pathplanning/planners/search/jump_point.py
  tests/test_jps.py
Due: ruff-format, ruff-check, pyright

chore: configure graphify for codex
  .codex/hooks.json
  .codex/skills/graphify/.graphify_version
  .codex/skills/graphify/SKILL.md
  .codex/skills/graphify/references/add-watch.md
  .codex/skills/graphify/references/exports.md
  .codex/skills/graphify/references/extraction-spec.md
  .codex/skills/graphify/references/github-and-merge.md
  .codex/skills/graphify/references/hooks.md
  .codex/skills/graphify/references/query.md
  .codex/skills/graphify/references/transcribe.md
  .codex/skills/graphify/references/update.md
  AGENTS.md
Due: none

perf: vectorize JPSW occupancy snapshots
  pathplanning/planners/search/jump_point_weighted.py
Due: pyright

perf: vectorize any-angle grid snapshots
  pathplanning/planners/search/theta_star.py
Due: pyright

perf: vectorize D* Lite grid setup
  pathplanning/planners/search/dstar_lite.py
  tests/test_dstar_lite.py
Due: ruff-format, ruff-check, pyright

fix: preserve custom grid validity in native masks
  pathplanning/planners/search/_grid_utils.py
  tests/test_jps.py
Due: ruff-format, ruff-check, pyright
