Repository damminhtien/pathplanning: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

ruff-format:
  name: ruff format
  entry: ruff format --check --diff --config pyproject.toml
  language: system

ruff-check:
  name: ruff check
  entry: ruff check --config pyproject.toml
  language: system

pyright:
  name: pyright
  entry: pyright --project pyrightconfig.json
  language: system

chore(typing): adopt incremental pyright and add PEP 561 marker
  MANIFEST.in
  pathplanning/api.py
  pathplanning/py.typed
  pyproject.toml
  pyrightconfig.json
Due: ruff-format, ruff-check, pyright

test(typing): enforce public API annotations and py.typed marker
  tests/test_typing_contracts.py
Due: ruff-format, ruff-check

docs(typing): document incremental pyright policy and PEP 561 support
  README.md
  docs/typing_policy.md
Due: none

chore(typing): add pyright toolchain and typing policy
  Makefile
  docs/typing_policy.md
  pyproject.toml
  pyrightconfig.json
Due: none

feat(typing): add shared core typing aliases
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/nn_index.py
  pathplanning/core/tree.py
  pathplanning/core/types.py
Due: ruff-format, ruff-check, pyright

refactor(typing): type ConfigurationSpace and continuous_3d environment
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/env/continuous_3d.py
  pathplanning/sampling_based_planning/rrt_3d/rrt.py
  pathplanning/sampling_based_planning/rrt_3d/rrt_star.py
  tests/test_continuous_space_3d.py
  tests/test_core_contracts_and_params.py
Due: ruff-format, ruff-check, pyright

refactor(typing): type ArrayTree and nearest-neighbor index interfaces
  pathplanning/core/__init__.py
  pathplanning/core/nn_index.py
  pathplanning/core/tree.py
  pathplanning/sampling_based_planning/rrt_3d/rrt.py
  pathplanning/sampling_based_planning/rrt_3d/rrt_star.py
Due: ruff-format, ruff-check, pyright

refactor(typing): fully type planners and enforce injected RNG
  pathplanning/sampling_based_planning/rrt_3d/rrt.py
  pathplanning/sampling_based_planning/rrt_3d/rrt_star.py
  tests/test_rng_enforcement.py
Due: ruff-format, ruff-check, pyright

feat(typing): typed StopReason and PlanResult fields
  pathplanning/core/__init__.py
  pathplanning/core/contracts.py
  pathplanning/core/results.py
  pathplanning/sampling_based_planning/rrt_3d/rrt.py
  pathplanning/sampling_based_planning/rrt_3d/rrt_star.py
  tests/test_core_contracts_and_params.py
  tests/test_rrt3d_planner_contract.py
  tests/test_rrt_time_budget.py
  tests/test_rrtstar3d_planner_contract.py
Due: ruff-format, ruff-check, pyright

chore(typing): type wrappers; keep viz/examples in basic mode
  examples/worlds/demo_3d_world.py
  pathplanning/sampling_based_planning/rrt_3d/plot_util_3d.py
  pathplanning/sampling_based_planning/rrt_3d/rrt_3d.py
  pathplanning/sampling_based_planning/rrt_3d/rrt_star_3d.py
  pathplanning/viz/rrt_3d.py
  pyrightconfig.json
Due: ruff-format, ruff-check, pyright

chore(typing): fix strict-zone pyright errors; add CI gate
  .github/workflows/pylint.yml
  pathplanning/core/nn_index.py
  pyrightconfig.json
Due: ruff-format, ruff-check, pyright

chore(packaging): add py.typed marker for PEP 561 typed package
  pathplanning/py.typed
  pyproject.toml
  tests/test_packaging_py_typed.py
Due: ruff-format, ruff-check

refactor: remove legacy compatibility paths from registry and facade
  README.md
  SUPPORTED_ALGORITHMS.md
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/registry.py
  pathplanning/search_based_planning/plan2d/plan2d_facade.py
  pathplanning/search_based_planning/plan2d/run.py
  pyproject.toml
  tests/test_package_api.py
Due: ruff-format, ruff-check, pyright

docs(readme): expand mission statement with library-first and reproducibility focus
  README.md
Due: none

refactor: scaffold package layers and relocate core NN/tree
  examples/bench/nn_index_bench.py
  pathplanning/__init__.py
  pathplanning/bench/__init__.py
  pathplanning/collision/__init__.py
  pathplanning/core/__init__.py
  pathplanning/data_structures/__init__.py
  pathplanning/data_structures/tree_array.py
  pathplanning/geometry/__init__.py
  pathplanning/nn/__init__.py
  pathplanning/nn/index.py
  pathplanning/planners/__init__.py
  pathplanning/planners/sampling/__init__.py
  pathplanning/planners/search/__init__.py
  pathplanning/sampling_based_planning/rrt_3d/rrt.py
  pathplanning/sampling_based_planning/rrt_3d/rrt_star.py
Due: ruff-format, ruff-check, pyright

docs: record baseline run and duplication hotspots
  docs/refactor_baseline_run.md
Due: none

test(search): update smoke imports to planners namespace
  tests/test_imports_smoke.py
  tests/test_runtime_representative_smoke.py
Due: ruff-format, ruff-check

chore(sampling): update registry, bench, and typecheck paths
  pathplanning/registry.py
  pyproject.toml
  pyrightconfig.json
  scripts/benchmark_planners.py
Due: ruff-format, ruff-check, pyright

test(sampling): migrate imports to planners and shared utils
  tests/test_imports_smoke.py
  tests/test_rng_enforcement.py
  tests/test_rrt3d_planner_contract.py
  tests/test_rrt_goal_connection.py
  tests/test_rrt_star_3d_starttime.py
  tests/test_rrt_time_budget.py
  tests/test_rrtstar3d_planner_contract.py
  tests/test_runtime_representative_smoke.py
  tests/test_sampling3d_dynamic_rrt_contract.py
  tests/test_utils_3d_path_default.py
  tests/test_utils_3d_sample_free.py
Due: ruff-format, ruff-check

refactor(geometry): migrate curve modules and plotting helper
  pathplanning/curves/__init__.py
  pathplanning/geometry/__init__.py
  pathplanning/geometry/bezier_path.py
  pathplanning/geometry/bspline_curve.py
  pathplanning/geometry/cubic_spline.py
  pathplanning/geometry/dubins_path.py
  pathplanning/geometry/quartic_polynomial.py
  pathplanning/geometry/quintic_polynomial.py
  pathplanning/geometry/reeds_shepp.py
  pathplanning/viz/geometry_draw.py
Due: pyright

test(imports): switch smoke check to pathplanning.geometry
  tests/test_imports_smoke.py
Due: ruff-format, ruff-check

chore(packaging): move gif assets out of runtime package
  MANIFEST.in
  assets/gif/sampling/BIT.gif
  assets/gif/sampling/BIT2.gif
  assets/gif/sampling/Dynamic_RRT_2D.gif
  assets/gif/sampling/Extended_RRT_2D.gif
  assets/gif/sampling/FMT.gif
  assets/gif/sampling/Goal_biasd_RRT_2D.gif
  assets/gif/sampling/INFORMED_RRT_STAR_2D.gif
  assets/gif/sampling/INFORMED_RRT_STAR_2D2.gif
  assets/gif/sampling/INFORMED_RRT_STAR_2D3.gif
  assets/gif/sampling/RRT_2D.gif
  assets/gif/sampling/RRT_CONNECT_2D.gif
  assets/gif/sampling/RRT_STAR2_2D.gif
  assets/gif/sampling/RRT_STAR_2D.gif
  assets/gif/sampling/RRT_STAR_SMART_2D.gif
  assets/gif/search/ADstar_sig.gif
  assets/gif/search/ADstar_small.gif
  assets/gif/search/ARA_star.gif
  assets/gif/search/Astar.gif
  assets/gif/search/BF.gif
  assets/gif/search/BFS.gif
  assets/gif/search/Bi-Astar.gif
  assets/gif/search/DFS.gif
  assets/gif/search/D_star.gif
  assets/gif/search/D_star_Lite.gif
  assets/gif/search/Dijkstra.gif
  assets/gif/search/LPA_star.gif
  assets/gif/search/LPAstar.gif
  assets/gif/search/LRTA_star.gif
  assets/gif/search/RTAA_star.gif
  assets/gif/search/RepeatedA_star.gif
  pyproject.toml
Due: none

refactor(api): shrink package surface and enforce registry entrypoints
  pathplanning/__init__.py
  pathplanning/api.py
  pathplanning/registry.py
  scripts/benchmark_planners.py
  tests/test_package_api.py
  tests/test_search2d_smoke.py
Due: ruff-format, ruff-check, pyright

docs(registry): add module entrypoint column for supported algorithms
  SUPPORTED_ALGORITHMS.md
Due: none

docs(readme): update module layout, examples, and asset paths
  README.md
Due: none

chore: refresh root docs and align local/CI quality gates
  .github/workflows/pylint.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CODING_CONVENTIONS.md
  CONTRIBUTING.md
  README.md
  agent.md
  decisions.md
  handoff.md
  pathplanning/api.py
  pathplanning/registry.py
  pathplanning/spaces/grid2d.py
  pyproject.toml
  pyrightconfig.json
  state.md
  tasks.md
Due: ruff-format, ruff-check, pyright

Path conditions:
  ruff-format: any of: ^(pathplanning/(core|env)/.*\.py|pathplanning/(__init__|api|registry)\.py|tests/.*\.py|scripts/.*\.py|examples/worlds/.*\.py)$ and \.py$
  ruff-check: any of: ^(pathplanning/(core|env)/.*\.py|pathplanning/(__init__|api|registry)\.py|tests/.*\.py|scripts/.*\.py|examples/worlds/.*\.py)$ and \.py$
  pyright: any of: ^pathplanning/.*\.py$ and \.py$
